body
{
	text-align: center;
}

h1
{
	text-align: center;
	color: red;
}

a
{
	color: black;
	text-decoration: none;
}

footer
{

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}