body
{
	text-align: center;
/*	border: 1px solid black;*/
}

h1
{
	text-align: center;
	color: red;
}

a
{
	color: black;
	text-decoration: none;
}

.erreur
{
	font-size: 75%;
	color: red;
}

footer
{

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.2);
}